**/#*
**/.atom/.apm/
**/.atom/packages/
**/.atom/git-time-machine/
**/.atom/projects.cson
**/.atom/split-diff
**/.emacs.d/bookmarks
**/.emacs.d/configuration.el
**/.emacs.d/custom.el
**/.emacs.d/elpa/
**/.emacs.d/eshell
**/.emacs.d/ido.last
**/.emacs.d/projectile-bookmarks.eld
**/.emacs.d/smex-items
*.swp
node_modules/
configuration.el
