"timber&wires":
  title: "Timber & Wires"
  paths: [
    "/Users/nscheurich/Code/timber-and-wires"
  ]
rpgmeetup:
  title: "RPG Meetup"
  paths: [
    "/Users/nscheurich/Code/rpg-meetup"
  ]
"bloxbox:preps":
  title: "BLOX Box: Preps"
  paths: [
    "/Users/nscheurich/Code/blox-box/public/app/preps"
  ]
garagegame:
  title: "Garage Game"
  paths: [
    "/Users/nscheurich/Games/GarageGame"
    "/Users/nscheurich/Games/GarageServer.IO/example"
  ]
