snippet log "log to console"
console.log(${1:value});$0
endsnippet

snippet logv "log variable to console"
console.log("$1", "$1");$0
endsnippet

snippet logl "log to console with label"
console.log("${1:label}", "${2:value}");$0
endsnippet
